@color_1: #333;
@color_2: #4682be;
@color_3: #fff;
@color_4: #a6e22e;
@color_5: #c7254e;
@color_6: #ed1c24;
@color_7: #2980b9;
@color_8: #75715e;
@color_9: #f8f8f2;
@color_10: #f92672;
@color_11: #ae81ff;
@color_12: #e6db74;
@color_13: #66d9ef;
@color_14: #fd971f;
@font_family_2: Consolas, 'Courier New', Courier, FreeMono, monospace;
@font_family_3: Consolas, Monaco, 'Andale Mono', monospace;
@background_color_1: #fff;
@background_color_2: #f8f8f8;
@background_color_3: #aaa;
@background_color_4: #444;
@background_color_5: #409eff;

@blue: #1890ff;
@blue-hover: #40a9ff;

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    ;
}

html
{
    font-size: 100%;
}

ul,
ol,
li
{
    list-style: none;
}

body
{
    font-family: Lato, 'Helvetica Neue For Number', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: .8rem;

    overflow-y: scroll;

    margin: 0;
    padding: 0;
    padding-right: 300px;

    color: @color_1;
}

#sidebar
{
    position: fixed;

    overflow-y: auto;

    width: 240px;
    height: 100%;
    margin: 0;
    padding: 0;

    transition: transform .26s cubic-bezier(.47, 0, .745, .715), -webkit-transform .26s cubic-bezier(.47, 0, .745, .715);

    background-color: rgb(60, 67, 77);
    box-shadow: 5px 0 10px rgba(0, 0, 0, .02);
    h2
    {
        font-weight: normal;

        padding: 20px 0 20px 40px;

        text-align: center;
        text-align: left;

        color: #fff;
    }
    h3
    {
        font-size: 14px;
        font-weight: normal;

        position: relative;

        display: block;

        padding: 9px 18px 9px 40px;

        text-transform: uppercase;

        color: #fff;
        background-color: rgb(44, 52, 63);
    }
    ol
    {
        overflow: hidden;

        height: auto;
        margin: 0;
        padding: 5px 0 5px 40px;

        list-style: none;

        background-color: rgb(37, 44, 54);
        li
        {
            list-style: none;

            transition: all .2s cubic-bezier(.25, .46, .45, .94);
            a
            {
                font-size: 12px;

                position: relative;

                display: block;

                padding: 9px 18px 9px 0;

                text-decoration: none;
                text-transform: uppercase;

                color: rgb(124, 128, 134);
                &:hover
                {
                    color: #fff;
                }
            }
            .current
            {
                color: #fff;
            }
        }
    }
}

form.searchBox
{
    position: relative;

    width: 180px;
    height: 20px;

    border: 1px solid #4682be;
}

input[type=search]
{
    position: absolute;
    top: 0;
    left: 0;

    width: 160px;
    height: 18px;

    text-align: left;

    border: none;
    outline: none;
}

input.searchButton
{
    position: absolute;
    top: 0;
    left: 160px;

    height: 18px;
}

#content
{
    font-size: .8rem;
    line-height: 1.3rem;

    margin-right: 20px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 150px;

    counter-reset: section;
    h1
    {
        font-weight: normal;

        margin-bottom: 30px;

        text-align: center;
    }
    pre
    {
        line-height: 1.2;

        margin-right: auto;
        margin-left: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: .7rem;

        color: @color_3;
        border-radius: 5px;
        background: #272822;
    }
    code
    {
        font-family: @font_family_2;
        font-size: 14px;
        font-weight: normal;

        color: @color_4;
        border-radius: 2px;
        background: #272822;
    }
    p
    {
        code
        {
            padding-right: 3px;
            padding-left: 3px;

            color: @color_5;
            background: #f9f2f4;
        }
    }
    li
    {
         > code
        {
            padding-right: 3px;
            padding-left: 3px;

            color: @color_5;
            background: #f9f2f4;
        }
    }
    h2
    {
        font-size: 18px;
        font-weight: normal;

        margin-top: 50px;
        margin-bottom: 10px;
        padding-top: 20px;
        padding-bottom: 0;

        counter-increment: section;
        text-align: left;

        border-top: 2px dashed #ddd;
         > code
        {
            padding-right: 3px;
            padding-left: 3px;

            color: @color_5;
            background: #f9f2f4;
        }
        &:before
        {
            content: counter(section) '. ';
        }
        &:hover
        {
            // color: @color_6;
        }
    }
    h3
    {
        margin-top: 50px;
        margin-bottom: 0;
        padding-top: 20px;
        padding-bottom: 0;

        text-align: left;

        border-top: 1px dotted #777;
         > code
        {
            padding-right: 3px;
            padding-left: 3px;

            color: @color_5;
            background: #f9f2f4;
        }
        &:hover
        {
            color: @color_6;
        }
    }
    img
    {
        display: block;

        max-width: 90%;
        margin-top: 40px;
        margin-right: auto;
        margin-bottom: 40px;
        margin-left: auto;

        border-radius: 5px;
    }
    ul
    {
        display: block;

        padding-top: .5rem;
        padding-bottom: .5rem;

        list-style-type: none;
        li
        {
            font-size: .8rem;

            text-indent: -5px;
            &:before
            {
                position: relative;
                left: -5px;

                content: '-';
            }
        }
        li.link
        {
            font-size: .7rem;
            font-weight: bold;

            cursor: pointer;
            text-decoration: none;

            color: @color_7;
        }
    }
    ol
    {
        display: block;

        padding-top: .5rem;
        padding-bottom: .5rem;
        li
        {
            font-size: .8rem;

            text-indent: -5px;
        }
        li.link
        {
            font-size: .7rem;
            font-weight: normal;

            cursor: pointer;
            text-decoration: none;

            color: #1890ff;
        }
    }
    a
    {
        &:link
        {
            text-decoration: none;

            color: @color_2;
        }
        &:visited
        {
            text-decoration: none;

            color: @color_2;
        }
    }
    .content-toc
    {
        position: fixed;
        top: 50px;
        right: 40px;

        width: 230px;
        margin: 20px 10px;
        padding: 20px 20px 20px 30px;

        list-style-type: decimal;

        border: 1px solid #ddd;
        border-radius: 5px;
        background: #fff;
        li
        {
            list-style-type: decimal;

            text-indent: 0;
            a
            {
                font-size: 12px;

                text-indent: 0;
            }
        }
    }
    table
    {
        display: block;
        overflow: auto;

        width: 100%;

        word-break: normal;
        word-break: keep-all;
        th
        {
            font-weight: bold;

            padding: 6px 13px;

            border: 1px solid #ddd;
        }
        td
        {
            padding: 6px 13px;

            border: 1px solid #ddd;
        }
        tr
        {
            border-top: 1px solid #ccc;
            background-color: @background_color_1;
            &:nth-child(2n)
            {
                background-color: @background_color_2;
            }
        }
    }
}

#edit
{
    font-size: 10px;
    line-height: 17px;

    position: fixed;
    top: 45px;

    display: none;

    width: 70px;
    height: 17px;
    margin-top: 0;
    margin-left: 930px;

    text-align: center;

    color: @color_3;
    border-radius: 5px;
    background-color: @background_color_3;
    &:hover
    {
        cursor: pointer;

        background-color: @background_color_4;
    }
}

#loading
{
    font-size: 14px;

    position: fixed;
    top: 0;

    display: none;

    height: 17px;
}

#error
{
    font-size: 14px;

    position: fixed;
    top: 0;

    display: none;

    height: 17px;
}

#flip
{
    font-size: 10px;

    position: fixed;
    right: 20px;
    bottom: 40px;

    width: 80px;

    text-align: center;
     > div
    {
        position: relative;

        display: inline-block;

        width: 40px;
        height: 40px;
        margin-bottom: 2px;

        cursor: pointer;

        border-radius: 5px;
        background-color: @blue;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        &:hover
        {
            .show
            {
                display: flex;
            }
        }
        .show
        {
            font-size: 16px;

            position: absolute;
            top: 0;
            left: -100px;

            display: none;

            min-width: 100px;
            height: 40px;

            color: #fff;
            border: 1px solid #ddd;
            background-color: @blue-hover;

            justify-content: center;
            align-items: center;;
        }
        a
        {
            display: block;

            width: 100%;
            height: 100%;
        }
        &:hover
        {
            background-color: @blue-hover;
        }
        &#back_to_top
        {
            background-image: url(../images/top.png);
        }
        &#pageup
        {
            background-image: url(../images/pre.png);
        }
        &#pagedown
        {
            background-image: url(../images/next.png);
        }
        &#github
        {
            background-image: url(../images/git.png);
        }
        &#qq
        {
            background-image: url(../images/QQ.png);
        }
    }
}

.progress-indicator-2
{
    position: fixed;
    top: 0;
    left: 0;

    height: 3px;

    background-color: @background_color_5;
}

code[class*='language-']
{
    font-family: @font_family_3;

    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -o-tab-size: 4;
       tab-size: 4;
    -webkit-hyphens: none;
            hyphens: none;

    color: @color_4;
    text-shadow: 0 1px rgba(0, 0, 0, .3);

    direction: ltr;
        -ms-hyphens: none;
}

pre[class*='language-']
{
    font-family: @font_family_3;

    overflow: auto;

    margin: .5em 0;
    padding: 1em;

    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -o-tab-size: 4;
       tab-size: 4;
    -webkit-hyphens: none;
            hyphens: none;

    color: @color_4;
    border-radius: .3em;
    background: #272822;
    text-shadow: 0 1px rgba(0, 0, 0, .3);

    direction: ltr;
        -ms-hyphens: none;
}

&:not(pre)
{
     > code[class*='language-']
    {
        padding: .1em;

        border-radius: .3em;
        background: #272822;
    }
}

.token.comment
{
    color: @color_8;
}

.token.prolog
{
    color: @color_8;
}

.token.doctype
{
    color: @color_8;
}

.token.cdata
{
    color: @color_8;
}

.token.punctuation
{
    color: @color_9;
}

.namespace
{
    opacity: .7;
}

.token.property
{
    color: @color_10;
}

.token.tag
{
    color: @color_10;
}

.token.constant
{
    color: @color_10;
}

.token.symbol
{
    color: @color_10;
}

.token.boolean
{
    color: @color_11;
}

.token.number
{
    color: @color_11;
}

.token.selector
{
    color: @color_4;
}

.token.attr-name
{
    color: @color_4;
}

.token.string
{
    color: @color_4;
}

.token.builtin
{
    color: @color_4;
}

.token.operator
{
    color: @color_10;
}

.token.entity
{
    cursor: help;

    color: @color_10;
}

.token.url
{
    color: @color_10;
}

.language-css
{
    .token.string
    {
        color: @color_10;
    }
}

.style
{
    .token.string
    {
        color: @color_10;
    }
}

.token.variable
{
    color: @color_10;
}

.token.atrule
{
    color: @color_12;
}

.token.attr-value
{
    color: @color_12;
}

.token.keyword
{
    color: @color_13;
}

.token.regex
{
    color: @color_14;
}

.token.important
{
    font-weight: bold;

    color: @color_14;
}

@media (min-width: 40rem)
{
    html
    {
        font-size: 112%;
    }
    #content
    {
        width: 98%;
        margin-right: 0;
        margin-left: 0;
        padding-left: 270px;
    }
    #loading
    {
        font-size: 14px;

        position: fixed;
        top: 45%;

        display: none;

        height: 17px;
        margin-left: 560px;
    }
    #error
    {
        font-size: 14px;

        position: fixed;
        top: 45%;

        display: none;

        height: 17px;
        margin-left: 560px;
    }
}

@media (min-width: 64rem)
{
    html
    {
        font-size: 120%;
    }
}
